[submodule "descar"]
	path = descar
	url = git@github.com:DescentNetwork/descar.git
[submodule "qteditor/adsdock"]
	path = qteditor/adsdock
	url = git@github.com:githubuser0xFFFF/Qt-Advanced-Docking-System.git
